@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$font-primary: 'League Spartan', serif;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-16: 1rem;
$font-size-17: 17px;
$font-size-18: 1.125rem;
$font-size-19: 19px;
$font-size-20: 1.25rem;
$font-size-40: 2.5rem;
$font-size-56: 3.5rem;

$line-height-22: 22px;
$line-height-25: 25px;
$line-height-32: 32px;
$line-height-48: 48px;

$soft-pink: hsl(333, 80%, 67%);
$magenta-very-dark: hsl(300, 43%, 22%);
$magenta-grayish-dark: hsl(303, 10%, 53%);
$magenta-grayish-light: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$space-4: 4px;
$space-8: 8px;
$space-15: 15px;
$space-16: 16px;
$space-17: 17px;
$space-20: 20px;
$space-24: 24px;
$space-27: 27px;
$space-31: 31px;
$space-32: 32px;
$space-35: 35px;
$space-39: 39px;
$space-40: 40px;
$space-48: 48px;
$space-49: 49px;
$space-71: 71px;
$space-82: 82px;
$space-95: 95px;
$space-99: 99px;
$space-118: 118px;
$space-125: 125px;

$breakpoint-1200: 1200px;
$breakpoint-1400: 1400px;
