@import './styles/base/reset';
@import './styles/utilities/variables';
@import './styles/components/decorators';
@import './styles/components/header';
@import './styles/components/opinions';

.container {
  position: relative;
  min-height: 100vh;
  font-family: $font-primary;
}
